# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Checkout
      uses: actions/checkout@master
      
    - name: vuepress-deploy
      uses: jenkey2011/vuepress-deploy@1.6.1
      env:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        TARGET_REPO: psp2dam/psp_sources
        TARGET_BRANCH: gh-pages
        BUILD_SCRIPT: npm install -D vuepress && npm install -D @vuepress/plugin-medium-zoom && npm install -D @vuepress/plugin-back-to-top && npm install -D @vuepress/plugin-last-updated && npm run docs:build
        BUILD_DIR: src/.vuepress/dist/
